# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/node_modules/
/.sass-cache/
.idea/
*.iml
expert_pc/
# 这个是pc端发帖的东西..暂时不用上传到我的 My librarys 里去

#webpack demo
webpack_demo/node_modules/