// Component:		  Variables
//
// Description:		Define all variables
//
// =============================================================================
$ns:  unquote("am-") !default;

// Black - White - Gray
// -----------------------------------------------------------------------------
$black:            #000 !default;
$white:            #fff !default;
$red:			   #f00 !default;


//grid varisables
//-------------
